@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

@font-face {
    font-family: typewriter;
    src: url(../font/TruetypewriterPolyglott-mELa.ttf) format(woff);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', 'typewriter';
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 12vh;
    display: flex;
    background-color: #BF8C8C;
    justify-content: center;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    top: 0;
}

nav #menu {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

nav #menu h4 {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    display: flex;
}

nav #menu #logoNavegacao {
    height: 35vh;
}

nav #menu a {
    text-decoration: none;
}

.nomeTela {
    transition: 0.5s ease-in-out;
}

section {
    overflow: hidden;
}

footer i {
    font-size: 40px;
    margin: 0 1vw;
}

.fotos {
    display: flex;
    width: 100%;
    height: 85vh;
}

#conteudoFotos {
    width: 100%;
    height: 60vh;
    background-size: contain;
}

#conteudoFotos #cor {
    width: 100%;
    height: 60vh;
    background-color: #BF8C8C;
    opacity: 0.8;
    position: absolute;
}

/* CARROSEL DE FOTOS - INICIO */
#slider {
    background: url(../img/aquino-trompete.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    width: 30vw;
    height: 30vh;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ACABOU AQUI O CARROSSEL DE FOTOS */

#videos {
    display: flex;
    height: 30vh;
    width: 100%;
    justify-content: space-around;
    gap: 4vw;
    margin-top: 5vh;
    overflow: hidden;
}

#videos a {
    display: flex;
}

.sobre {
    display: flex;
    padding-top: 12vh;
    width: 100%;
    height: 85vh;
}

.depoimentos {
    display: flex;
    flex-direction: column;
    padding-top: 12vh;
    width: 100%;
    height: 85vh;
}

.depoimentos .cardDepoimento .notaDepoimento {
    display: flex;
    height: 4vh;
    object-fit: contain;
}

.depoimentos .cardDepoimento .topoCard {
    display: flex;
    margin-bottom: 5vh;
    height: 10vh;
}

.depoimentos .cardDepoimento .topoCard .fotoCasal {
    display: flex;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 2vw;
}

.depoimentos .cardDepoimento .topoCard .nomeNotaCasal {
    display: flex;
    flex-direction: column;
}

.depoimentos .cardDepoimento h2 {
    color: #7D7D7D;
    /* margin-left: 45px; */
}

.depoimentos .cardDepoimento h5 {
    font-weight: lighter;
    font-size: large;
    text-align: justify;
}

.titulossessoes {
    margin-left: 5vw;
    text-transform: uppercase;
    opacity: 0.6;
    padding: 4vh 0;
    border-bottom: 4px solid #BF8C8C;
    width: 12vw;
    height: 4vh;
}

section h1 {
    font-weight: 500;
    font-size: xx-large;
    width: 20vw;
    height: 5vh;
}

.depoimentos #carrosselDepoimentos {
    display: flex;
}

.depoimentos #carrosselDepoimentos .cardDepoimento {
    width: 500px;
    border: 2px solid red;
    margin-top: 50px;
}

.depoimentos #botaolink {
    width: 100vw;
    position: relative;
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.depoimentos a {
    background-color: #BF8C8C;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 5vh;
    text-decoration: none;
}

.depoimentos a h3 {
    color: #F4F8DC;
    font-weight: 400;
}

#conteudoHome {
    width: 100%;
    height: 100%;
    padding-top: 12vh;
    overflow: hidden;
    background-color: green;
}

.carousel-container {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 400vw;
    height: 100%;
    animation: slide 25s infinite;
}

.carousel-slide img {
    width: 100vw;
    height: 88vh;
    object-fit: cover;
}

.carousel-slide img .backgrond {
    height: 100%;
}

.sobre {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sobre #imgetexto {
    box-sizing: border-box;
    margin-top: 5vh;
    display: flex;
    width: 100vw;
    height: 60vh;
    left: 0px;
    padding: 0 4vw;
    justify-content: flex-start;
}

.sobre .coluna1 {
    width: 50%;
    margin-right: 3vw;
}

.sobre .coluna1 #imgSobreNos {
    display: flex;
    height: 50vh;
}

.sobre .coluna1 #redessociais {
    width: 37vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5vh;
}

.sobre .coluna1 #redessociais i {
    font-size: 50px;
    margin: 0px 1vw;
}

.sobre .coluna2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sobre .coluna2 h5 {
    position: absolute;
    overflow: visible;
    width: 48vw;
    height: 70vh;
    margin-top: -15vh;
}

.sobre .coluna2 p {
    margin: 4vh 0;
    font-size: 1.56em;
    font-weight: 300;
    text-align: justify;
}


@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100vw);
    }

    50% {
        transform: translateX(-200vw);
    }

    75% {
        transform: translateX(-300vw);
    }

    100% {
        transform: translateX(0px);
    }
}

#conteudoHome .centralizarFrase {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    position: absolute;
    top: 50vh;
}

#conteudoHome .centralizarFrase h1 {
    font-weight: lighter;
    letter-spacing: 4px;
    font-size: xx-large;
    text-shadow: -3px 0px 10px #000000;
    font-family: 'typewriter';
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 5vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

footer img {
    margin: 0 1vw;
}

.contato {
    background: url('../img/aquino-trompete.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

#tituloContato h1 {
    color: #e4e4e4;
    opacity: 1;
}

.contato #cor {
    position: absolute;
    background-color: #b95e5e;
    opacity: 0.5;
    width: 100%;
    height: 80vh;
}

.contato #telefoneLogo {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 30vh;
    position: relative;
    align-items: center;
    margin-top: 15vh;
    gap: 5vw;
}

.contato #telefoneLogo #contato {
    color: #e4e4e4;
    font-size: 2.3em;
    border-right: 5px solid #BF8C8C;
    padding-right: 2vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contato #telefoneLogo #logoContato img {
    height: 30vh;
}

.mobile {
    display: none;
}

@media (min-width: 100px) {
    @media (max-width: 650px) {
        .mobile {
            display: flex;
        }

        nav {
            width: 100%;
        }

        nav #menu {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        nav #menu h4 {
            display: none;
        }

        nav #iconeMenuMobile {
            height: 6vh;
            z-index: 1;
        }

        nav #iconeFechaMenuMobile {
            display: none;
            height: 6vh;
            z-index: 1;
        }

        nav span {
            color: #F4F8DC;
            font-weight: bold;
            width: 100vw;
            display: flex;
            position: absolute;
            justify-content: center;
            font-size: large;
            text-transform: uppercase;
        }

        #menuMobile {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 45vw;
            height: 35vh;
            position: absolute;
            z-index: 1;
            background-color: #BF8C8C;
            right: 0;
            animation: entradaMenu 1s ease;
        }

        #conteudoMenuMobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 85%;
            height: 30vh;
        }

        #conteudoMenuMobile .linhaMenuMobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1vh 0;
        }

        #conteudoMenuMobile .iconeMenuMobile {
            height: 3vh;
        }

        .linhaMenuMobile h4 {
            color: #F4F8DC;
            text-transform: uppercase;
        }

        @keyframes entradaMenu {
            0% {
                right: -35vh;
            }

            100% {
                right: 0;
            }
        }

        #conteudoHome .centralizarFrase h1 {
            letter-spacing: 0px;
            font-size: x-large;
        }

        footer {
            bottom: 3vh;
        }

        footer img {
            margin: 0 5vw;
        }
    }
}

@media (min-width: 1280px) {
    .titulossessoes {
        padding: 6vh 0;
    }
}

@media (min-width: 1920px) {
    .sobre .coluna2 p {
        font-size: 2.0em;
    }
}